[submodule "roboga_nlu"]
	path = roboga_nlu
	url = https://github.com/pmec-home/roboga_nlu.git
[submodule "roboga_chatbot"]
	path = roboga_chatbot
	url = https://github.com/pmec-home/roboga_chatbot.git
